extends ../layout

block content
	link(href='/css/list.css', rel="stylesheet")
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th Name
						th Entry time
						th Update
						th Delete
				tbody
				each item in categories
					tr(class="item-id-#{item._id}")
						td #{item.name}
						td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
						td: a(target="_blank", href="/admin/category/update/#{item._id}") Update
						td 
							button.btn.btn-danger.forbidden(type="button", data-id="#{item._id}") Delete
	//- script(src="/js/admin.js")