extends ../layout

block content
	link(href='/css/index.css', rel="stylesheet")
	link(href='/css/panel-img.css', rel="stylesheet")
	.container
		.row
			each cat in categories
				.panel.panel-default
					.panel-heading
							span.keyword
								a(href='/results/?cat=#{cat._id}&p=0') #{cat.name.toUpperCase()}
							if cat.movies && cat.movies.length ==6
								span.pull-right.moreInfo
									a(href='/results/?cat=#{cat._id}&p=0') more
					.panel-body
						if cat.movies && cat.movies.length > 0
							each item in cat.movies
								.col-md-2
									.thumbnail
										a(href="/movie/#{item._id}")
											if item.poster.indexOf('http') > -1
												img(src="#{item.poster}", alt="#{item.title}")
											else
												img(src="/upload/#{item.poster}", alt="#{item.title}")

										.caption
											div.title #{item.title}
											div.linker
												p: a.btn.btn-primary(href="/movie/#{item._id}", role="botton")
													span Watch the trailer