extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th Title
						th Director
						th Country
						th Release date
						th Entry time
						th PV
						th Check
						th Update
						th Delete
				tbody
				each item in movie
					tr(class="item-id-#{item._id}")
						td #{item.title}
						td #{item.doctor}
						td #{item.country}
						td #{item.year}
						td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
						td #{item.pv}
						td: a(target="_blank", href="/movie/#{item._id}") Check
						td: a(target="_blank", href="/admin/movie/update/#{item._id}") Update
						td 
							button.btn.btn-danger.del.loading(type="button", data-id="#{item._id}") Delete
	script(src="/js/admin.js")