extends ../layout

block content
	link(href='/css/list.css', rel="stylesheet")
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th Name
						th Entry time
						th Role
						th Update
						th Delete
				tbody
				each item in users
					tr(class="item-id-#{item._id}")
						td #{item.name}
						td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
						if item.role==0
							td Genernal user
						else if item.role==1
							td Verified user
						else if item.role==2
							td Professional user
						else if item.role > 10 && item.role <= 50
							td Admin
						else if item.role > 50
							td Super admin
						td: a(target="_blank", href="/admin/user/update/#{item._id}") Update
						td 
							if userId == item._id
								button.btn.btn-warning.forbidden(type="button") Yourself
							else
								button.btn.btn-danger.del-user.loading(type="button", data-id="#{item._id}") Delete
	script(src="/js/admin.js")