extends ../layout

block content
	.container
		.row
			.col-md-7
				iframe(src="#{movie.flash}", allowFullScreen="true", width="720" height="600", frameborder="0")
			.col-md-5
				dl.dl-horizontal
					dt Title
					dd= movie.title
					dt Director
					dd= movie.doctor
					dt Country
					dd= movie.country
					dt Language
					dd= movie.language
					dt Release date
					dd= movie.year
					dt Summary
					dd= movie.summary
